<html>

<head>
<style>
    img{
        display: none;
    }
</style>
</head>

<body background="bg.jpg">
    <div class="container">
        <div class="text">
            <br> Please give your inputs
        </div>
        <br>
        <br>
        <form action="{{ url_for('check')}}" method="post">
                <input name="state">
                <input name="city">
                <input type="submit">
            <br>
            <br>
        </form>
    </div>

</body>

</html>